altgraph==0.17.5
auto-py-to-exe==2.50.1
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
chlorophyll==0.4.2
Eel==0.18.2
future==1.0.0
gevent==26.8.0
gevent-websocket==0.10.1
greenlet==3.5.5
idna==3.19
importlib_resources==7.1.0
packaging==26.3
pefile==2024.8.26
pycparser==3.0
Pygments==2.21.0
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pyparsing==3.3.2
pyperclip==1.11.0
pywin32-ctypes==0.2.3
requests==2.34.2
tklinenums==1.7.1
toml==0.10.2
typing_extensions==4.16.0
urllib3==2.7.0
zope.event==6.2
zope.interface==8.6
